<a href="https://colab.research.google.com/github/krishaaaaa123/movie-recommedation-system/blob/main/projectML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:

movies_metadata_df = pd.read_csv("movies_metadata.csv")
ratings_df = pd.read_csv("ratings.csv")

In [ ]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [ ]:
ratings_df

In [ ]:
movies_metadata_df

In [ ]:
ratings_df.head()

   userId  movieId  rating     timestamp
0       1    110.0     1.0  1.425942e+09
1       1    147.0     4.5  1.425942e+09
2       1    858.0     5.0  1.425942e+09
3       1   1221.0     5.0  1.425942e+09
4       1   1246.0     5.0  1.425942e+09

In [ ]:
movies_metadata_df.tail()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [ ]:
movies_metadata_df = movies_metadata_df.merge(ratings_df, on='original_title')

In [ ]:
movies_metadata_df.shape

In [ ]:
movies_metadata_df.head()

In [ ]:
movies_metadata_df.info()

In [ ]:
movies_metadata_df = movies_metadata_df[['genre','original_language''original_title''popularity''production_companies']]

In [ ]:
 movies_metadata_df.head()

In [ ]:
movies_metadata_df.info()

In [ ]:
movies_metadata_df.isnull().sum()

In [ ]:
movies_metadata_df.dropna(inplace=True)

In [ ]:
movies_metadata_df.duplicate().sum()

In [ ]:
movies_metadata_df.iloc[0].genre

In [ ]:
import ast

In [ ]:
def convert(obj):
  L=[]
  for i in ast.literal.eval(obj):
    L.append(i['name'])
    return L

In [ ]:
movies_metadata_df['genre']=movies_metadata_df['genre'].apply(convert)

movies_metadata_df.head()

In [ ]:
def convert(obj):
  L=[]
  for i in ast.literal.eval(obj):
    L.append(i['name'])
    counter ++1
    else:
      break
    return L

In [ ]:
movies_metadata_df['production_companies']=movies_metadata_df['production_companies'].apply(convert)

In [ ]:
movies_metadata_df.head()

In [ ]:
movies_metadata_df['overview'][0]

In [ ]:
movies_metadata_df['overview'] = movies_metadata_df['overview'].apply(lambda x:x:split())

In [ ]:
movies_metadata['genre'] = movies_metadata['genre'].apply(lambda x:[i.replace(" ","") for i in x])

In [ ]:
movies_metadata['tags']= movies_metadata['genre'] + movies_metadata['production_companies'] + movies_metadata['popularity'] + movies_metadata['original_title'] + movies_metadata['original_language']

In [ ]:
new_df = movies[['id', 'original_title','tags']]

In [ ]:
new_df['tags'] = new_df['tags'].apply(lambda x:' '.join(x))

In [ ]:
new_df

In [ ]:
new_df['tags'][0]

In [ ]:
new_df['tags'] = new_df['tags'].apply(lambda X:X.lower())

In [ ]:
new_df.head()

In [ ]:
from sklearn.feature_extra.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [ ]:
cv.fit_transform(new_df['tags']).toarray().shape

In [ ]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [ ]:
vector[0]

In [ ]:
len(cv.get_feature_names())

In [ ]:
import nltk

In [ ]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [ ]:
def stem (text):
  y=[]
  for i in text.split():
    y.append(ps.stem(i))
    return " ".join(y)

In [ ]:
new_df['tags']= new_df['tags'].apply(stem)

In [ ]:
import sklearn.metrics.pairwise import cosine_similarity

In [ ]:
cosine_similarity(vectors)

In [ ]:
cosine_similarity(vectors).shape

In [ ]:
similarity = cosine_similarity(vectors)

In [ ]:
similarity[0].shape

In [ ]:
similarity[0]

In [ ]:
sorted(list(enumerate(similarity[0])), reverse True, key=lambda x:x[1])[1:6]

In [ ]:
def recommend(movie):
  movie_index = new_df[new_df['original_title']==movie].index[0]
  distances = similarity[movie_index]
  movie_list= sorted(list(enumerate(distances)), reverse True, key=lambda x:x[1])[1:6]

  for i in movies_list:
    print(new_df.iloc[i[0]].title)

In [ ]:
recommend('Betrayal')